/* 
    Document   : style
    Created on : 10 juin 2013, 17:54:01
    Author     : gutenborg
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    display: block;
    font-size: 1.25em;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}
h1,h2,h3{
    color: #ccc;
}
fieldset{
    width: 24%;
    float: left;
    padding-left: 1%;
    box-sizing: border-box;
    clear: none;
    display: table-cell;
    height:300px;
    margin: 25px 0;
}
abbr{
    border-bottom: dashed skyblue 1px;
    display: inline-block;
    cursor: help;
}
em{
    color: green;
}
.ng-pristine{
    color: green;
}
.ng-dirty{
    color: blue;
}
