/* 
    Document   : style
    Created on : 10 juin 2013, 17:54:01
    Author     : gutenborg
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    display: block;
    font-size: 1.25em;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}
h1,h2,h3{
    color: #ccc;
}
fieldset{
    vertical-align: top;
    width: 49%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    clear: none;
    display: table-cell;
    margin: 5px 0;
    border: #fff 1px solid;
    box-shadow: 0 0 5px #ccc;
    border-top: 3px skyblue solid;
    min-height: 250px;
}
abbr{
    border-bottom: double skyblue 1px;
    display: inline-block;
    cursor: help;
}
em{
    color: green;
}
.ng-pristine{
    color: green;
}
.ng-dirty{
    color: blue;
}
#prixobjet , #profilperso{
    width: 49%;
}