template chargé

{{ test}}
<div id="choisir">
	<fieldset>	Vous avez envie de vous acheter un truc qui va vous coûter :
<input id="prixobjet" ng-model="prixObjet" type="number">
euros.
<br>
<strong>Mais cela vaut il vraiment {{prixObjet * 151/(brutannuel / 12 * 0.77) | number:1}} heures de votre temps de travail ?<br></strong>
Une heure vaut:<br/>
{{(brutannuel / 12 * 0.77)/151 |number:2}}€ net
<br/> {{(brutannuel / 12)/151 |number:2}}€ brut.
</fieldset>
		<fieldset>
			<h2>Choisissez votre profil</h2>
			<select id="choix" ng-model="profil">
				<option value="1398.37">SMIC 1 398,37 € / mois</option>
				<option value="231000">Hugh Laurie 231 000 € / mois</option>
				<option value="477239">Bill Gates 477 239 € / mois</option>
				<option value="50916.69">Barack Obama 50 916,69 € / mois</option>
				<option value="30387">François Hollande 30 387 € / mois</option>
				<option value="5400">député 5 400,00 € / mois</option>
				<option value="10000">Laure Manaudou 10 000 € / mois</option>
				<option value="1380000">Zazie 1 380 000 € / mois</option>
				<option value="112500">Jean Dujardin 112500 € / mois</option>
				<option value="54000">Nikos Aliagas 54000 € / mois</option>
				<option value="40000">Laurent Ruquier 40000 € / mois</option>
				<option value="3280000">Mylène Farmer 3280000 € / mois</option>
			</select>
            Salaire net annuel: {{ profil*12*0.77 | number:2 }} €<br>
			
			Quelques objets de luxe:<br>
			<select id="objets" ng-model="objets">
				<option value="25000000">(train) Une rame de 500 places de TGV Duplex. 25 M€</option>
				<option value="20" selected="selected">Une sortie en bar uppé 20€</option>
				<option value="669">(téléphone portable) Galaxy S 3. 669€</option>
				<option value="19000000">(train) Une rame Thalys de 377 places. 19 M€</option>
				<option value="32000000">(train) Une rame Eurostar de 794 places. 32 M€</option>
				<option value="15000">(voiture) Smart. 15 k€</option>
				<option value="320000000">(pont) viaduc de Millau. 320 M€</option>
				<option value="80000">(vélo) The Aurumania Gold Bike Crystal edition</option>
				<option value="38000">(whiskey) The Macallan Fine and Rare Collection, 1926, 60 Years Old</option>
				<option value="700">(bière) Vieille Bon Secours ale, bouteille de 12L 8°</option>
				<option value="30500">Suite royale à l'hôtel Grand Resort Lagonissi d'Athènes</option>
				<option value="390000000">La Villa sprawling Leopolda en Cote d’Azur</option>
				<option value="1200000">Bugatti Veyron , Wolksvagen</option>
				<option value="1200000">livre: "Die Aufgabe" ("la Tâche") par Tomas Alexander Hartmann. 13 pages.</option>
				
			</select>
            
            <br/>valeur de l'objet: {{ objets | number:0 }}€<br/>
			C'est à dire: {{ calcul(objets, (profil*12*0.77) )}} de salaire net.<br/>
            Envisageable en l'an {{ futur }}
			</fieldset></div>

<fieldset>
            Brut annuel:<input type="number" ng-model=" brutannuel ">
             <br/>
            {{ brutannuel }}  €<br/>
            mensuel: {{ brutannuel / 12 | number:2}} €<br/>
            net annuel: {{ brutannuel * 0.77  | number:2}} €<br/>
            net mensuel: {{ brutannuel / 12 * 0.77  | number:2 }} €<br/>
            
            <br/>
            eh oui jammy!
            </fieldset>