html { 
  margin:0;
  padding:0;
  background: url(bg.jpg) no-repeat left fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */

}
.contenu {
	width:800px;
	margin:0 auto;
	border: 3px solid rgba(0,0,0,0.8);
	padding:10px;
}

h1{background: rgba(255,255,255,0.4);}
h2{display:inline;}
.spoil {
	color:#fff;
	background: rgba(0,0,0,0.4);
	padding:5px;
	padding-left:50px;
	
}
.spoil_title {
	border-bottom:1px #ccc solid;
	
}
.spoil div {

	color:#fff;
	background: rgba(0,0,0,0.9);
	padding:10px;
	margin-left:10px;
	
}

.spoil_button {
	border-radius:5px;
	color:#fff;
	background: #222;
	
}
.spoil_button:hover {

	color: green;
	background: #fff;
	
}

textarea {

	width:700px;
	height:200px;
	
}

a {
				text-decoration:none;
			}
			
			a:link {color: green;}
			a:visited {color: yellow;}
			a:hover, a:focus, a:active  { 
							background: #000;
							color: #fcf5f1;
			}	
